src/java/is/idega/idegaweb/egov/cases/focal/business/server/focalMockupService/focalMockup.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:is.idega.idegaweb.egov.cases.focal" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:is.idega.idegaweb.egov.cases.focal" xmlns:intf="urn:is.idega.idegaweb.egov.cases.focal" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="urn:is.idega.idegaweb.egov.cases.focal" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="MainParty">
    <sequence>
     <element name="id" nillable="true" type="soapenc:string"/>
     <element name="name" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
   <complexType name="ProjectMetaData">
    <sequence>
     <element name="mainParty" nillable="true" type="impl:MainParty"/>
     <element name="name" nillable="true" type="soapenc:string"/>
     <element name="projectId" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfProjectMetaData">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:ProjectMetaData[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="FPStatus">
    <sequence>
     <element name="noCustomer" type="xsd:boolean"/>
     <element name="noProjects" type="xsd:boolean"/>
     <element name="success" type="xsd:boolean"/>
    </sequence>
   </complexType>
   <complexType name="ReturnedProjects">
    <sequence>
     <element name="projects" nillable="true" type="impl:ArrayOfProjectMetaData"/>
     <element name="status" nillable="true" type="impl:FPStatus"/>
    </sequence>
   </complexType>
   <complexType name="CaseData">
    <sequence>
     <element name="caseBody" nillable="true" type="soapenc:string"/>
     <element name="caseSubject" nillable="true" type="soapenc:string"/>
     <element name="date" nillable="true" type="xsd:dateTime"/>
     <element name="projectId" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
   <complexType name="Status">
    <sequence>
     <element name="failed" type="xsd:boolean"/>
     <element name="success" type="xsd:boolean"/>
    </sequence>
   </complexType>
   <complexType name="CustomerPersonalInformation">
    <sequence>
     <element name="customerId" nillable="true" type="soapenc:string"/>
     <element name="email" nillable="true" type="soapenc:string"/>
     <element name="name" nillable="true" type="soapenc:string"/>
     <element name="phone" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="findCustomerRequest">

      <wsdl:part name="search_str" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="createUpdateCustomerRequest">

      <wsdl:part name="personal_information" type="impl:CustomerPersonalInformation"/>

   </wsdl:message>

   <wsdl:message name="createUpdateCustomerResponse">

      <wsdl:part name="createUpdateCustomerReturn" type="impl:Status"/>

   </wsdl:message>

   <wsdl:message name="createCaseRequest">

      <wsdl:part name="case_data" type="impl:CaseData"/>

   </wsdl:message>

   <wsdl:message name="findCustomerResponse">

      <wsdl:part name="findCustomerReturn" type="impl:CustomerPersonalInformation"/>

   </wsdl:message>

   <wsdl:message name="findProjectsResponse">

      <wsdl:part name="findProjectsReturn" type="impl:ReturnedProjects"/>

   </wsdl:message>

   <wsdl:message name="createCaseResponse">

      <wsdl:part name="createCaseReturn" type="impl:Status"/>

   </wsdl:message>

   <wsdl:message name="findProjectsRequest">

      <wsdl:part name="search_str" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:portType name="FocalMockupService">

      <wsdl:operation name="findProjects" parameterOrder="search_str">

         <wsdl:input message="impl:findProjectsRequest" name="findProjectsRequest"/>

         <wsdl:output message="impl:findProjectsResponse" name="findProjectsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="createCase" parameterOrder="case_data">

         <wsdl:input message="impl:createCaseRequest" name="createCaseRequest"/>

         <wsdl:output message="impl:createCaseResponse" name="createCaseResponse"/>

      </wsdl:operation>

      <wsdl:operation name="findCustomer" parameterOrder="search_str">

         <wsdl:input message="impl:findCustomerRequest" name="findCustomerRequest"/>

         <wsdl:output message="impl:findCustomerResponse" name="findCustomerResponse"/>

      </wsdl:operation>

      <wsdl:operation name="createUpdateCustomer" parameterOrder="personal_information">

         <wsdl:input message="impl:createUpdateCustomerRequest" name="createUpdateCustomerRequest"/>

         <wsdl:output message="impl:createUpdateCustomerResponse" name="createUpdateCustomerResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="FocalMockupSoapBinding" type="impl:FocalMockupService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="findProjects">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findProjectsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:is.idega.idegaweb.egov.cases.focal" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="findProjectsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:is.idega.idegaweb.egov.cases.focal" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createCase">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createCaseRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:is.idega.idegaweb.egov.cases.focal" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="createCaseResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:is.idega.idegaweb.egov.cases.focal" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="findCustomer">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findCustomerRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:is.idega.idegaweb.egov.cases.focal" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="findCustomerResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:is.idega.idegaweb.egov.cases.focal" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createUpdateCustomer">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createUpdateCustomerRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:is.idega.idegaweb.egov.cases.focal" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="createUpdateCustomerResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:is.idega.idegaweb.egov.cases.focal" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="FocalMockupServiceService">

      <wsdl:port binding="impl:FocalMockupSoapBinding" name="FocalMockup">

         <wsdlsoap:address location="http://www.idega.com/services/FocalMockup"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
